:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-background: #fff;
}
body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--white-background);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/*--------------------header--------------------*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
}
.container {
  max-width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.list-address {
  display: flex;
  gap: 40px;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--logo-font);
  font-size: 18px;
  color: var(--primary-brand-color);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.dark-studio {
  color: var(--dark-color);
}

.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-decoration: none;
}
.menu:hover,
.menu:focus {
  color: var(--pressed-state-color);
}
.address {
  font-style: normal;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--pressed-state-color);
}

/*--------------------solutions--------------------*/
.title {
  background-color: var(--dark-color);
  margin: 0;
}
.container-solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 188px;
  padding-bottom: 48px;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
  width: 100%;
  max-width: 496px;
}
.main-button {
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-brand-color);
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 188px;
  margin-top: 48px;
}
.main-button:hover,
.main-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state-color);
}

/*--------------------features--------------------*/
.hidden {
  font-size: 0;
}

.list-features {
  display: flex;
  gap: 24px;
}
.title-feature {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.feature-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  width: 100%;
}

/*--------------------doings--------------------*/
.container-what-are-we-doing {
  padding-top: 120px;
  padding-bottom: 120px;
}
.doings-tiile {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-transform: capitalize;
  margin-top: 120px;
  margin-bottom: 72px;
}
.list-doinds {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.img-doings {
  width: 100%;
  max-width: 360px;
}

/*--------------------team--------------------*/
.container-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-team {
  display: flex;
  gap: 24px;
}
.team-cards {
  width: 100%;
  max-width: 264px;
}
.team {
  background-color: var(--light-color);
}

.cards {
  background-color: var(--white-background);
  padding-bottom: 32px;
}
.person-job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.team-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.team-card-profession {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*--------------------footer--------------------*/
.footer {
  background-color: var(--dark-color);
}
.container-footer {
  padding-top: 101.5px;
  padding-bottom: 100px;
}
.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);
  letter-spacing: 0.02em;
  display: flex;
  width: 100%;
  max-width: 264px;
  margin-top: 17.5px;
}

.footer .studio {
  color: var(--light-color);
}

/*--------------------buttons-portfolio--------------------*/
.filter {
  font-family: var(--primary-font);
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter:hover,
.filter:focus {
  color: var(--white-background);
  background-color: var(--pressed-state-color);
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 96px;
  margin-bottom: 72px;
}
.portfolio-list-img {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
  margin-bottom: 120px;
}
.list-item-portfolio {
  border: 1px solid var(--accent-color);
  background: var(--white-background);
}
.cards-name-filter {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.title-picture {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.picture-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
